.hero {
    height: 100%;
    margin-bottom: -97px;
}

.sticky-wrapper {
    position: relative;
}

body {
    background-color: #326696;
    margin: 0px;
    /*overflow: hidden;*/
    font-size:13px;
    /*text-align:center;*/
    /*font-weight: bold;*/
    text-align:center;
    font-family: "PT Serif" ;
}
a {
    color:#0078ff;
}

/* 主页 */
#works .btn-works-more {
    position: relative;
    top: 30px;
}

.index-address {
    position: absolute;
    bottom: 120px;
    right: 40px;
}

.index-address h5 {
    color: white;
}